.search-no-results .search-form, .error404 .search-form {
  margin-top: 40px;
}

#authors-on-blog {
  padding: 80px 0;
  .card-profile {
    text-align: left;
  }

  .col-md-6:nth-child(2n+1){
    clear: both;
  }
}
.blog-post{
  &.blog-post-wrapper {
    .section-text {
      h1 {
        font-size: 63.84px;
        line-height: 73.416px;
      }
      h2 {
        font-size: 43.68px;
        line-height: 65.52px;
      }
      h3 {
        font-size: 30.66px;
        line-height: 42.924px;
      }
      h4 {
        font-size: 31.62px;
        line-height: 49.011px;
      }
      h5 {
        font-size: 21px;
        line-height: 32.55px;
      }
      h6 {
        font-size: 15.12px;
        line-height: 22.68px;
      }
    }
  }
}

.blog-post {
  word-wrap: break-word;
  line-height: 25.2px;
  .section-text {
    padding-bottom: 0;
    font-size: 16.8px;
    p {
      margin-bottom: 30px;
    }
  }
  .section-blog-info {
    padding-top: 15px;

    .entry-categories, .entry-tags {
      word-break: break-all;
      span {
        display: inline-block;
        margin: 5px;
      }
    }

    .entry-categories a {
      display: inline-block;
      padding: 2px 2px;
      color: #fff;
    }

    .card-profile {
      margin-top: 0;
      text-align: left;

      .description {
        font-size: 14px;
      }
    }
  }
}

dl dd, pre {
  margin-bottom: 30px;
}

.alignleft .avatar {
  margin-right: 24px;
}

.alignright .avatar {
  margin-left: 24px;
}

article.sticky h2:before {
  content: "Featured: ";
}

img.centered, .aligncenter {
  display: block;
  margin: 0 auto 24px;
}

img.alignnone {
  margin-bottom: 12px;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

img.alignleft, .wp-caption.alignleft {
  margin: 0 24px 24px 0;
  margin: 0 2.4rem 2.4rem 0;
}

img.alignright, .wp-caption.alignright {
  margin: 0 0 24px 24px;
}

.wp-caption-text {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.gallery-caption {
  padding-top: 10px;
}

.bypostauthor {
  display: block;
}