@media (min-width: 769px) {
  .form-horizontal .control-label {
    padding-top: 8px;
  }

  .dropdown {
    .dropdown-menu {
      display: block;
      visibility: hidden;
      margin-top: -20px;
      opacity: 0;
      -webkit-transition: all 150ms linear;
      transition: all 150ms linear;
    }
    &.open .dropdown-menu,
    &:hover .dropdown-menu {
      visibility: visible;
      margin-top: 1px;
      opacity: 1;
    }
  }

  .navbar-nav > li {
    float: none;
    display: inline-block;
  }

  .container > .navbar-header {
    min-width: 250px;
    display: table-cell !important;
    vertical-align: middle;
    float: none;
  }

  .navbar:not(.hestia_right) .navbar-collapse {
    display: table-cell !important;
    vertical-align: middle;
    text-align: right;
    width: 100%;
  }

  .navbar.hestia_center .navbar-collapse {
    display: block !important;
    text-align: center;
  }

  .navbar.hestia_center .navbar-right {
    float: none !important;
    display: block;
    text-align: center;
  }

  .navbar.hestia_right .navbar-right {
    float: left !important;
    margin-top: 20px;
  }

  .navbar.hestia_right.navbar-not-transparent .navbar-right{
    transition: margin .3s ease;
    margin-top: 10px;
  }

  .navbar.full-screen-menu  {
    &.hestia_center .navbar-toggle{
      transition: .3s ease;
      right: 0;
      position: absolute;
      top: 30px;
    }
    &.hestia_center.navbar-not-transparent .navbar-toggle{
      transform: translateY(-15px);
    }
    > .container {
      display: table;
      position: relative;
    }
    &.hestia_right {
      .navbar-right {
        margin-top: 0;
      }
      .navbar-toggle {
        display: table-cell;
      }
    }
    .navbar-toggle {
      z-index: 999999;
      display: block;
    }
    .full-screen-menu-close {
      display: none;
    }
    .navbar-collapse .navbar-nav{
      transition: all .3s ease;
      opacity:0;
      visibility: hidden;
    }
    .navbar-collapse.in .navbar-nav{
      opacity: 1;
      visibility: visible;
      display: block !important;
    }
    .navbar-nav {
      z-index: 9999;
      overflow-X: auto;
      position: fixed;
      width: 100%;
      background-color: rgba(0,0,0,0.9);
      left: 0;
      top: 0;
      bottom: 0;
      padding-top: 100px;
      > li, >li.btn:last-child {
        display: table;
        margin: 20px auto;
      }
      >li a {
        font-size: 17px;
      }
    }
    &.navbar-not-transparent .navbar-nav {
      background-color: rgba(255,255,255,0.9);
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .navbar-toggle {
      margin-right: 0;
    }
    .dropdown-menu li:hover a {
      box-shadow: none;
    }

    &.hestia_center .navbar-header {
      width: auto;
      max-width: none;
      padding: 0;
      .navbar-brand {
        float: left;
      }
    }

    &.navbar-transparent {
      .navbar-nav {
        li a, i, li.btn a, .btn.dropdown-menu.open > li a {
          color: #fff !important;
          opacity: 1;
        }
      }
    }

    &.navbar-default {
      li.btn a {
        &, i {
          color: #fff !important;
        }
      }


      .navbar-nav{
        .open:not(.btn) {
          a {
            background: transparent;
            color: #777;
          }
        }
      }
    }

    &.navbar-default,
    &.navbar-not-transparent {
      li a,
      ul.dropdown-menu li a {
        &:hover,
        &:focus {
          box-shadow: none;
        }
      }
    }

    .container {
      width: 100%;
    }

    &.navbar-fixed-top,
    &.navbar-fixed-top.navbar-not-transparent {
      .navbar-collapse {
        max-height: calc(100% - 70px);
        margin-top: 70px;
        overflow-y: scroll;
        position: fixed;
        z-index: 9999;
        background: #fff;
        width: 100%;
        top: 0;
        -webkit-overflow-scrolling: auto;
      }
    }

    &.navbar-with-topbar {
      &.navbar-fixed-top .navbar-collapse {
        max-height: calc(100% - 100px);
        margin-top: 110px;
      }
    }

    &.navbar-fixed-top.navbar-transparent {
      .navbar-collapse {
        background-color: rgba(0,0,0,0.8);
      }
    }

    .navbar-nav {
      margin: 7.5px 0;

      .navbar-text {
        margin-top: 15px;
        margin-bottom: 15px;
        color: inherit;
      }

      .open .dropdown-menu > .dropdown-header {
        border: 0;
        color: inherit;
      }

      li {
        box-sizing: border-box;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      li.btn {
        margin-top: 10px;
      }

      li > a {
        text-align: left;

        > i,
        .fa {
          margin-right: 12px;
          font-size: 22.1px;
        }
      }

      li.btn > a,
      li.button > a {
        text-align: left;
      }

      > .open > a {
        &:hover,
        &:focus {
          background-color: transparent;
          color: #fff;
        }
      }

      li a {
        &:before {
          position: absolute;
          z-index: -1;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 3px;
          background-color: rgba(255, 255, 255, 0.1);
          content: "";
          -webkit-transition: all 300ms cubic-bezier(0.34, 0.9, 0.7, 1);
          -moz-transition: all 300ms cubic-bezier(0.34, 0.9, 0.7, 1);
          -o-transition: all 300ms cubic-bezier(0.34, 0.9, 0.7, 1);
          -ms-transition: all 300ms cubic-bezier(0.34, 0.9, 0.7, 1);
          transition: all 300ms cubic-bezier(0.34, 0.9, 0.7, 1);
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: 50%;
          -ms-transform-origin: 50%;
          transform-origin: 50%;
        }

        &:hover:before, &:focus:before {
          color: inherit;
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1);
        }
      }

      .dropdown {
        li {
          padding: 0;
        }

        a {
          position: relative;

          .caret {
            background: $color-rose;
            border: none;
            border-radius: 2px;
            box-sizing: content-box;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-family: Fontawesome;
            font-size: 20px;
            height: 30px;
            margin-left: 0;
            position: absolute;
            right: 15px;
            text-align: center;
            top: 10px;
            width: 30px;
            z-index: 100;

            &:hover {
              opacity: 0.8;
            }

            &:before {
              content: "\f107";
              top: 5px;
              position: relative;
              display: inline-block;
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -ms-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all 0.3s ease;
            }

            &.caret-open:before {
              -webkit-transform: rotate(-180deg);
              -moz-transform: rotate(-180deg);
              -ms-transform: rotate(-180deg);
              -o-transform: rotate(-180deg);
              transform: rotate(-180deg);
            }
          }

          > i,
          .fa {
            margin-right: 12px;
            font-size: 20.4px;
          }
        }

        &.open {
          .caret {
            &:before {
              -webkit-transform: rotate(-180deg);
              -moz-transform: rotate(-180deg);
              -ms-transform: rotate(-180deg);
              -o-transform: rotate(-180deg);
              transform: rotate(-180deg);
            }
          }
        }

        &.open {
          .dropdown-menu {
            display: block !important;
          }
        }

        .dropdown-menu {
          background: transparent;
          box-shadow: none;
          position: static;
          margin-top: 0;
          padding: 0;
          width: 100%;

          &.open {
            display: block !important;
          }

          li a {
            line-height: 20px;
            margin: 0;
            padding: 15px 0 15px 30px;

            &:hover,
            &:focus {
              background-color: transparent;
            }

            .caret {
              line-height: 1;
            }

            &:before {
              position: absolute;
              z-index: -1;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              border-radius: 3px;
              background-color: rgba(255, 255, 255, 0.1);
              content: "";
              -webkit-transition: all 300ms cubic-bezier(0.34, 0.9, 0.7, 1);
              -moz-transition: all 300ms cubic-bezier(0.34, 0.9, 0.7, 1);
              -o-transition: all 300ms cubic-bezier(0.34, 0.9, 0.7, 1);
              -ms-transition: all 300ms cubic-bezier(0.34, 0.9, 0.7, 1);
              transition: all 300ms cubic-bezier(0.34, 0.9, 0.7, 1);
              -webkit-transform: scaleX(0);
              -ms-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transform-origin: 50%;
              -ms-transform-origin: 50%;
              transform-origin: 50%;
            }

            &:hover:before, &:focus:before {
              color: inherit;
              -webkit-transform: scaleX(1);
              -ms-transform: scaleX(1);
              transform: scaleX(1);
            }
          }

          li li a {
            padding: 15px 0 15px 45px;
          }
        }
      }

    }

    .dropdown-submenu {
      &:hover {
        > .dropdown-menu {
          display: none !important;
        }

        > a {
          background: transparent !important;
          box-shadow: none;
        }
      }
    }

    .navbar-brand h1, .navbar-brand p {
      padding: 10px 0;
    }

    .dropdown-submenu {
      &.open {
        > a {
          background: transparent !important;
          color: inherit;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }

    &,
    &.navbar-not-transparent {
      .dropdown-menu {
        li a {
          color: #777;
          .caret {
            color: #fff;
          }
        }
        i {
          opacity: 1;
        }
      }
    }
  }

  .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #f3f3f3;
  }

  .navbar-transparent .navbar-nav .open .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .navbar.navbar-transparent .open .dropdown-menu > {
    li > a:hover,
    li > a:focus,
    .active > a,
    .active > a:hover,
    .active > a:focus,
    .disabled > a,
    .disabled > a:hover,
    .disabled > a:focus {
      color: inherit;
      background-color: transparent;
    }
  }

  .navbar .open .dropdown-menu > {
    li > a:hover,
    li > a:focus,
    .active > a,
    .active > a:hover,
    .active > a:focus,
    .disabled > a,
    .disabled > a:hover,
    .disabled > a:focus {
      color: $color-rose;
      background-color: transparent;
    }
  }

  .hestia_right .header-sidebar-wrapper {
    display: none;
  }

  .single .section {
    padding: 30px 0 0;

    &.section-blog-info {
      padding: 15px 0 30px;
    }
  }

  .media .avatar, .media-body .avatar, .media-area .avatar {
    margin: 0;
    width: 35px;
    height: 35px;
  }

  h1 {
    font-size: 42px;
  }

  .subscribe-line .btn {
    margin-top: 15px;
  }

  ul.children {
    padding-left: 5px;
    border-left: 1px #cfcfcf solid;
  }


  .blog-post {
    &.blog-post-wrapper {
      .section-text {
        h1 {
          font-size: 50.4px;
          line-height: 57.96px;
        }
        h2 {
          font-size: 43.68px;
          line-height: 65.52px;
        }
        h3 {
          font-size: 30.66px;
          line-height: 42.924px;
        }
        h4 {
          font-size: 17px;
          line-height: 26.35px;
        }
        h5 {
          font-size: 21px;
          line-height: 32.55px;
        }
        h6 {
          font-size: 15.12px;
          line-height: 22.68px;
        }
      }
    }
  }

  .blog-post .section-comments .comment-respond .author {
    display: none;
  }

  .carousel h2.title,
  .carousel h1.hestia-title {
    font-size: 42px;
  }

  .page-header {
    &.header-small {
      .title,
      .hestia-title {
        font-size: 42px;
        line-height: 63px;
      }
    }
  }

  .hestia-about .text-area {
    margin-bottom: 20px;
  }

  .footer {
    &.footer-big {
      padding: 30px 0 26px;
    }

    .footer-menu {
      width: 100%;
    }

    .copyright {
      display: inline-block;
      float: none !important;
      width: 100%;
      padding: 10px 0;
      text-align: center;
    }
  }

  .navbar.navbar-transparent {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.8);

    > .container {
      padding-top: 10px;
    }
  }

  .main-raised {
    margin-right: 10px;
    margin-left: 10px;
  }

  hr {
    margin-top: 0;
  }

  // Home - About
  .hestia-about {
    padding-top: 0;

    h2 {
      margin-top: 0;
    }

    .widget_sow-image {
      .panel-widget-style {
        margin-top: -60px;
        padding: 0 0 60px 0 !important;
      }
    }
  }

  // Home - Team
  .hestia-team {
    .btn.btn-just-icon {
      i {
        margin-right: 10px;
        width: auto;
      }
    }
  }

  // Home - Portfolio
  .hestia-work {
    .card {
      cursor: pointer;
    }
  }

  // Home - Pricing
  .pricing {
    padding: 60px 0 40px;

    p.text-gray {
      margin-bottom: 40px;
    }
  }

  // Home - Contact Us
  .contactus {
    .card-contact {
      margin-top: 90px;
    }
  }

  // Single post
  .single {
    &.single-post {
      .section-blog-info {
        .entry-social {
          margin: 15px 0 30px;
        }

        .card-profile {
          margin-top: 20px;
        }
      }
    }
  }

  // Page
  .page {
    .section {
      &.section-text {
        padding: 30px 0;
      }
    }
  }

  .single-post,
  .page,
  .blog,
  .archive,
  .category {
    .page-header {
      &.header-small {
        .container {
          padding: 170px 15px 90px;

          .hestia-title {
            margin-top: 0;
          }
        }
      }
    }
  }

  // Top bar
  .hestia-top-bar {
    overflow: hidden;

    .col-md-6 {
      text-align: center;
      width: 100%;

      &.pull-right {
        display: none;
      }
    }

    .col-md-12 {
      &,
      &.pull-right{
        float: none !important;
        text-align: center;
      }
    }

    .widget.widget_shopping_cart {
      display: none;
    }
  }
}
