body {
  direction: ltr;
  background-color: #e5e5e5;
}

.container {
  max-width: 100%;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

embed, iframe, img, object, video, button, input, select, textarea, .wp-caption {
  max-width: 100%;
}

img {
  height: auto;
}

ul, ol {
  margin-bottom: 30px;
  line-height: 25.2px;
}

legend {
  border-bottom: 0;
}

.animation-transition-fast, .navbar, .panel .panel-heading i, .section-cards .card {
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.thumbnail {
  padding: 0;
  border: 0 none;
  border-radius: 0;
}

// Sane default links styling.
.section-image .description .default-link,
.section-image .default-link,
.hestia-title .default-link,
.title .default-link,
.default-link:hover,
.default-link {
  color: #fff;
}
.description .default-link {
  color: $color-body-text;
}

body.menu-open {
  overflow: hidden;
}